.google-button {
    width: 100%;
    height: 60px; /* Default height */
    background-color: #343a40; /* Default background color */
    color: #ffffff; /* Default text color */
    border: none; /* Default border */
    border-radius: 8px;
    font-size: 1rem;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    transition: all 0.2s ease;
    cursor: pointer;
};

.google-button:hover {
    background-color: yellow;
  }